In [1]:
# print 0 to 20 by using range

In [3]:
for i in range (0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
# print range 10 to 20

In [7]:
for i in range (10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [9]:
# Print number of items in the list by using 'len'

In [11]:
List2=[10,20,30,40,10,45,22]
print("Number of item in the List2:")
print(len(List2))

Number of item in the List2:
7

In [13]:
test='Artificial Intelligence'
print(test)
for i in test:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [23]:
my_name=input("-Your Name- " )
my_age=int(input("-Your Age- "))
my_pro=input("-Your Profession- ")

-Your Name-  T.Vijayshankar
-Your Age-  44
-Your Profession-  Asst Manager in TVS SCS

In [29]:
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [31]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'Hope')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [33]:
list2=[20, 10, 16, 19, 25, 1, 276, 188]
for num in list2:
    if num % 2 != 0:
        print(num,'is odd')

19 is odd
25 is odd
1 is odd

In [35]:
list2=[20, 10, 16, 19, 25, 1, 276, 188]
for num in list2:
    if num % 2 == 0:
        print(num,'is Even')

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even